.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}
.primary-text {
  color: (--white);
}
.highlighted-text {
  color: var(--dark-orange);
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.btn {
  font-size: 1rem;
  margin: 1rem;
}

.profile-options .btn {
  width: 150px;
  padding: 10px;
  z-index: 700;
}
.profile-options .highlighted-btn {
  margin: 1rem;
}
.profile-options .highlighted-btn:hover {
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  margin: 1.5rem 0 1.5rem 7rem;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../../assets/Home/moi4.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz-icon a {
  color: white;
  padding: 8px;
  padding-left: 0;
}
.colz-icon a > :hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role {
    flex-wrap: wrap;
  }
  .profile-options .btn {
    width: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .profile-parent {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .profile-picture {
    margin: 3rem 0 1rem 0;
  }
  @keyframes popProfile {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  .profile-picture-background {
    animation: popProfile 3s infinite;
  }
}

@media screen and (max-width: 575px) {
  .profile-details-role p {
    height: 5rem;
  }
  .profile-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-options .btn {
    width: 12rem;
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    margin: 3rem 0 1rem 0 !important;
    height: 15rem;
    width: 15rem;
  }
  .profile-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
